Repository esl51/blanky: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix, npx bemlint --mod='--' --errors

.lintstagedrc.json:

{
  "*.{js,html,html.twig}": "npx eslint --fix",
  "*.{scss,css}": "npx stylelint --fix",
  "*.{html,html.twig}": "npx bemlint --mod='--' --errors"
}

fix critical styles src
  gulpfile.babel.js
Due: npx eslint --fix

add fonts to pw
  gulpfile.babel.js
Due: npx eslint --fix

fix encoding
  gulpfile.babel.js
Due: npx eslint --fix

fix manifest
  src/assets/root/manifest.webmanifest
Due: none

fix precurrent for clones
  src/scripts/controls/xslider.js
Due: npx eslint --fix

fix nav
  src/scripts/controls/nav.js
Due: npx eslint --fix

update packages
  package.json
Due: none

fix eslint 9
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  eslint.config.mjs
  package.json
Due: none

fix header height jump
  src/scripts/controls/header.js
  src/styles/common/utils.scss
  src/styles/common/variables.scss
  src/styles/controls/xslider.scss
  src/styles/sections/header.scss
Due: npx eslint --fix, npx stylelint --fix

min width breakpoint and index improvements
  src/html/index.html.twig
  src/html/parts/xslider-arrows.html.twig
  src/styles/common/variables.scss
Due: npx eslint --fix, npx stylelint --fix, npx bemlint --mod='--' --errors

update husky
  .husky/pre-push
  package.json
Due: none

update apache config
  src/assets/root/.htaccess
Due: none

add xslider shift
  src/scripts/controls/xslider.js
Due: npx eslint --fix

fix xslider min item size
  src/styles/controls/xslider.scss
Due: npx stylelint --fix

disable animator by default
  src/scripts/modules/content.js
Due: npx eslint --fix

fix typo
  src/scripts/modules/content.js
Due: npx eslint --fix

add bullet aria label
  src/scripts/controls/xslider.js
Due: npx eslint --fix

accessibility improvements
  src/html/layouts/default.html.twig
Due: npx eslint --fix, npx bemlint --mod='--' --errors

update packages & migrate to sharp image processing
  gulpfile.mjs
  package.json
  src/styles/blocks/breadcrumbs.scss
  src/styles/blocks/cookie.scss
  src/styles/blocks/demo.scss
  src/styles/blocks/files.scss
  src/styles/blocks/footer.scss
  src/styles/blocks/header.scss
  src/styles/blocks/pagination.scss
  src/styles/blocks/search-results.scss
  src/styles/common/globals.scss
  src/styles/common/grid.scss
  src/styles/common/layout.scss
  src/styles/common/reset.scss
  src/styles/common/variables.scss
  src/styles/content/text.scss
  src/styles/controls/animator.scss
  src/styles/controls/buttons.scss
  src/styles/controls/icons.scss
  src/styles/controls/media.scss
  src/styles/controls/social.scss
  src/styles/controls/xform.scss
  src/styles/controls/xlightbox.scss
  src/styles/controls/xmap.scss
  src/styles/controls/xnotify.scss
  src/styles/controls/xpopup.scss
  src/styles/controls/xslider.scss
  src/styles/editor.scss
  src/styles/main.scss
  src/styles/sections/basic.scss
  src/styles/sections/dark.scss
  src/styles/sections/footer.scss
  src/styles/sections/header.scss
Due: npx stylelint --fix

fix active clones
  src/scripts/controls/xslider.js
Due: npx eslint --fix

fix layout and vars
  src/styles/common/layout.scss
  src/styles/common/variables.scss
Due: npx stylelint --fix

disable stylelint
  src/styles/common/variables.scss
Due: npx stylelint --fix

fix scaling
  src/html/layouts/default.html.twig
Due: npx eslint --fix, npx bemlint --mod='--' --errors

multiple layout improvements
  gulpfile.mjs
  src/styles/blocks/cookie.scss
  src/styles/blocks/header.scss
  src/styles/common/globals.scss
  src/styles/common/layout.scss
  src/styles/common/variables.scss
  src/styles/controls/media.scss
  src/styles/controls/social.scss
  src/styles/controls/xform.scss
  src/styles/controls/xpopup.scss
  src/styles/sections/basic.scss
  src/styles/sections/cookie.scss
  src/styles/sections/dark.scss
  src/styles/sections/footer.scss
  src/styles/sections/header.scss
Due: npx stylelint --fix

floating improvements
  src/styles/content/text.scss
  src/styles/editor.scss
Due: npx stylelint --fix

header improvements
  src/html/layouts/default.html.twig
  src/styles/blocks/header.scss
  src/styles/sections/header.scss
Due: npx eslint --fix, npx stylelint --fix, npx bemlint --mod='--' --errors

fix uses
  src/styles/common/globals.scss
Due: npx stylelint --fix

fix xlightbox icons
  src/styles/controls/xlightbox.scss
Due: npx stylelint --fix

xslider arrow before
  src/styles/controls/xslider.scss
Due: npx stylelint --fix

files improvements
  src/html/parts/files.html.twig
  src/styles/blocks/files.scss
Due: npx eslint --fix, npx stylelint --fix, npx bemlint --mod='--' --errors

text improvements
  src/html/index.html.twig
  src/styles/content/text.scss
Due: npx eslint --fix, npx stylelint --fix, npx bemlint --mod='--' --errors

replace clean css with new
  package.json
Due: none

fix gulp clean css
  gulpfile.mjs
Due: none

xslider fade effect
  src/scripts/controls/xslider.js
  src/styles/controls/xslider.scss
Due: npx eslint --fix, npx stylelint --fix
